.container {
  display: flex;
  margin-top: 1.25rem;
}

.text-primary {
  color: #4361ee;
}
.text-danger {
  color: #e7515a;
}
.text-warning {
  color: #e2a03f;
}
.text-success {
  color: #1abc9c;
}
.text-info {
  color: #2196f3;
}
.text-secondary {
  color: #805dca;
}

.bg-primary {
  background-color: #4361ee !important;
}
.bg-danger {
  background-color: #e7515a !important;
}
.bg-warning {
  background-color: #e2a03f !important;
}
.bg-success {
  background-color: #1abc9c !important;
}
.bg-info {
  background-color: #2196f3 !important;
}
.bg-secondary {
  background-color: #805dca !important;
}

.card {
  position: relative;
  margin: 0 1.25rem 1.25rem 1.25rem;
  padding: 1.875rem;
  background-color: #0e1726;
  border-radius: 0.635rem;
  border: none;
  box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003),
    0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004),
    0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006),
    0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007),
    0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}

.link{
  text-decoration: none;
  color: inherit;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}